*, 
::before,
::after {
    box-sizing: border-box;
    
}

body {
    background-color: #f1f5f8;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    margin-bottom: 3rem;
}

header > h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Cabin Sketch';
}

header > h1 > span {
    font-family: 'Londrina Sketch';
}
.panel {
    width: 0;
    position:absolute;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    /*background-color: rgb(221, 114, 114);*/
    color: black;
    display: flex;
    z-index: 1;
    overflow: hidden;
    transition: width 0.5s;
    font-family: 'Concert One';
    font-weight: 100;
}

.panel-full-height {
    min-height: 100vh;
}

@media (min-width: 700px) {
    .panel {
        position:inherit;
        display: inherit;
        right: unset;
        width: unset;
        background-color: #f0f0f0;
        border-right: 1px solid black;
       
    }
}

.panel-active {
    width: 50%
}

.panel-toggle-on, .panel-toggle-off {
    width: 30px;
    height: 30px;
    
}

.panel-toggle-on {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.panel-toggle-on > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.panel-toggle-off  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-toggle-off > p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

div.settings {
    width: 100%
}

.buttons {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 700px) {
    .buttons {
        width: 100%;
        display: unset
    }
}

input {
    outline: none;
}

input:hover, button:hover {
    cursor: pointer;
}

input[type='color'] {
    height: 30px;
    width: 30px;
    border: none;
    background: none;
}

button {
    font-family: 'Concert One';
    font-weight: 10;
    padding: 0.5rem;
    margin: 0.2rem
}

.settings > h2 {
    font-weight: 100;
    
}

h3 {
    font-weight: 100;
}

.grid-size-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-size-container > p {
    text-align: center;
}


/*
@media (min-width: 700px) {
    .default {
        display: none;
    }
}*/



.main {
    width: 100%;
}

@media (min-width: 700px) {
    .main {
        display: grid;
        grid-template-columns: 20% 80%;
        padding-left: 4rem
    }
}


.sketch-area {
    width: 300px;
    height: 350px;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0;
    /*box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);*/
}

.wrapper {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}

@media (min-width: 700px) {
    .sketch-area {
        width: 400px;
        height: 60vh
    }

    .panel {
        max-height: 60vh;
        overflow-y: scroll;
    }

    .panel-toggle-off {
        display: none;
    }

}

.sketch-area-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 900px) {
    .sketch-area {
        width: 500px;
        height: 70vh;
    }

    .panel {
        max-height: 70vh;
        overflow-y: scroll;
        margin-left: 4rem
    }

}

.points {
    margin: 0;
}


/* class toggleable by javascript to show grid lines*/
.grid-lines {
    border: 0.5px solid blue;
}

/* class toggleable by javascripts for buttons */
.btn-active {
    background-color: deepskyblue;
}

div.utilities {
    margin: auto;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    min-width: 100%;
}

footer > p {
    text-align: center;
    font-family: 'Concert One', 'Courier New', Courier, monospace;
}

footer > p > a {
    color: inherit
}